@{
  ViewData["Title"] = "Reportes";
}
@model IEnumerable<UserInterface.Report>

<section class="py-5 text-center container main-text">
  <h1>@ViewData["Title"]</h1>


</section>

<div class="report-table" style="height: 200px; display: none;">
    <table id="log-data-table" class="display" style="width:100%;">
      <thead>
          <tr>
              <th>Servicio</th>
              <th>Id</th>
              <th>Mensaje</th>
              <th>Severidad</th>
              <th>Fecha</th>
              <th>Excepción</th>
              <th>Hilo</th>
              <th>Contexto</th>
          </tr>
      </thead>
      <tbody>
          @foreach (var asset in Model)
          {
              <tr>
                  <td>@asset.ServiceName</td>
                  <td>@asset.Id</td>
                  <td>@asset.Msg</td>
                  <td>@asset.Severity</td>
                  <td>@asset.Timestamp</td>
                  <td>@asset.Ex</td>
                  <td>@asset.ThreadId</td>
                  <td>@asset.SourceContext</td>
              </tr>
          }
      </tbody>
  </table>
</div>


@section Scripts
{    
 <script type="text/javascript">
  $(document).ready(function () {
      $('#log-data-table').DataTable({  
        scrollY:'60vh',
        lengthMenu: [ [8], [8] ],
        drawCallback: function( settings ) {
          $('.report-table').css("display", "block");
          var table = $('#myTable').DataTable();
        }
      });
  });
 </script>       
}
